[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "vim/bundle/minibufexpl.vim"]
	path = vim/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "vim/bundle/neocomplete.vim"]
	path = vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "vim/bundle/neosnippet-snippets"]
	path = vim/bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets
[submodule "vim/bundle/neosnippet.vim"]
	path = vim/bundle/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/numbers.vim"]
	path = vim/bundle/numbers.vim
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "vim/bundle/perlomni.vim"]
	path = vim/bundle/perlomni.vim
	url = https://github.com/c9s/perlomni.vim
[submodule "vim/bundle/pydoc.vim"]
	path = vim/bundle/pydoc.vim
	url = https://github.com/fs111/pydoc.vim
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/bundle/vaxe"]
	path = vim/bundle/vaxe
	url = https://github.com/jdonaldson/vaxe.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-css-color"]
	path = vim/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "vim/bundle/vim-markdown-folding"]
	path = vim/bundle/vim-markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding
[submodule "vim/bundle/vim-nerdtree-tabs"]
	path = vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/bundle/vim-sneak"]
	path = vim/bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim/bundle/vim-tmuxify"]
	path = vim/bundle/vim-tmuxify
	url = https://github.com/mhinz/vim-tmuxify.git
[submodule "vim/bundle/vim-latex"]
	path = vim/bundle/vim-latex
	url = git://github.com/lervag/vim-latex
